{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Reset Password</h2>
    <p>Enter your email address and we will send you a link to reset your password</p>
    <form method="POST">
        {% csrf_token %}

        <div class="input-group">
            <label>email</label>
            {{ form.email }}
            {{ form.errors.email }}
        </div>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{% endblock %}

