{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="chat-container">

        <div class="sidebar">
            <div class="profile">
                <img alt="Avatar" class="avatar" src="{{ user.pfp }}">

                <h3>{{ user.username }}</h3>

                <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
            </div>

            <nav>

                <h2>Friends</h2>
                <ul class="friend-list">
                {% if friends %}
                    {% for friend in friends %}
                    <li class="friend">
                        <span>{{ friend }}</span>
                        <button class="btn-unfriend">Unfriend</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friends">No friends</li>
                {% endif %}
                </ul>

                <h2>Friend Requests</h2>
                <ul class="friend-request-list">
                {% if friend_requests %}
                    {% for i in friend_requests %}
                    <li class="friend-request">
                        <span>{{ i.from_user }}</span>
                        <button class="btn-accept">Accept</button>
                        <button class="btn-reject">Reject</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friend-requests">No friend requests</li>
                {% endif %}
                </ul>

            </nav>

        </div>

        <div class="chat-section">
            <div class="chat-header">
                <h2>Global Chat</h2>
                <p id="typing-users"></p>
            </div>
            <div class="chat-messages" id="chat-messages">
                {% for message in messages %}
                <div class="message {% if message.author == user %}own-message{% endif %}" id="{{ message.id }}">
                    
                    <div class="message-info">
                        <img alt="Avatar" src="{{ message.author.pfp }}">

                        <span class="message-author">{{ message.author }}</span>
                        <span class="timestamp">{{ message.timestamp | date:'Y-m-d H:i' }}Z</span>
    
                        {% if message.author == request.user %}
                        <div class="delete-message" onclick="deleteMessage('{{ message.id }}')">
                            <img src="{% static 'icons/remove.svg' %}?" alt="">
                        </div>
                        {% endif %}
                    </div>

                    <p class="message-text">
                        {{ message.text }}
                    </p>

                </div>
                {% endfor %}
            </div>

            <form class="message-form" id="message-form" method="post">
                {% csrf_token %}
                <input type="text" id="message-input" autocomplete="off" placeholder="Type a message...">
                <button id="send-button">Send</button>
            </form>

        </div>

    </div>

{% endblock %}

{% block scripts %}
<script>
    if ($('.message').length > 0) {
        $('.message').last()[0].scrollIntoView() // scroll to bottom of chat
    }
    $('.message .timestamp').each(function() {
        const timestamp = $(this).text();
        $(this).text( formatDate(timestamp) );
    })
    
    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const now = new Date();
        const options = { hour: '2-digit', minute: '2-digit' };
        
        const isToday = date.toDateString() === now.toDateString();

        const yesterday = new Date(now);
        yesterday.setDate(now.getDate() - 1);
        const isYesterday = date.toDateString() === yesterday.toDateString();

        const startOfWeek = new Date(now);
        startOfWeek.setDate(now.getDate() - now.getDay());
        const isThisWeek = date >= startOfWeek;

        if (isToday) {
            return date.toLocaleString([], options);
        } else if (isYesterday) {
            return 'Yesterday, ' + date.toLocaleString([], options);
        } else if (isThisWeek) {
            return date.toLocaleString('en-US', {
                weekday: 'long',
                hour: '2-digit',
                minute: '2-digit'
            });
        } else {
            return date.toLocaleDateString([], {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) + ' ' + date.toLocaleString([], options);
        }
    }

    // friend requests
    $('.friend-request button').on('click', function(e) {
        const fromUser = $(this).parent().find('span').text()
        const action = $(this).text().toLowerCase()
        $.post( `/api/${action}-friend-request/`, {
            'from_user': fromUser,
            'csrfmiddlewaretoken': csrftoken
        }, () => {
            $(this).parent().remove()
            if (action == 'accept') { 
                let friendElement = $(`<li class="friend">`)
                .append(`<span>${fromUser}</span>`)
                .append($(`<button class="btn-unfriend">Unfriend</button>`)
                 .on('click', unfriend))

                $('.friend-list').append(friendElement)
                $('#no-friends').hide()
            }
        })
    })
 
    $('.btn-unfriend').on('click', unfriend); function unfriend(e) {
        const friend = $(this).parent().find('span').text()
        $.post( `/api/unfriend/`, {
            'friend': friend,
            'csrfmiddlewaretoken': csrftoken
        }, () => {
            $(this).parent().remove()
        })
    }

    // chat
    const eventSource = new EventSource("api/stream-chat-events/")

    eventSource.onopen = function() {
        console.log("Connection established")
    }

    eventSource.onmessage = function(e) {
        const data = JSON.parse(e.data)
        console.log(data)
        if (data.action == 'create') {
            const message = data.message
            message.timestamp = formatDate(message.timestamp + 'Z') // add 'Z' to make it UTC
            renderMessage(message)
        } else if (data.action == 'delete') {
            $(`.message#${data.message_id}`).remove()
        } else if (data.action == 'typing') {
            renderTypingUsers(data.users)
        }
    }

    function renderMessage(message){
        if (!$(`.message#${message.id}`).length) { // check if message already exists
            let messageElement = $('<div class="message">')
            .prop('id', message.id)
            .append($('<div class="message-info">')
                .append(`<img src="${message.author.pfp}" alt="Avatar">`)
                .append(`<span class="message-author">${message.author.username}</span>`)
                .append(`<span class="timestamp">${message.timestamp}</span>`)
            )

            .append($('<p class="message-text">')
                .text(message.text)
            )

            if (message.author == '{{ user.username }}') {
                messageElement.addClass('own-message')
                .find('.message-info').append(
                    $('<div class="delete-message">')
                     .on('click', ()=>{ deleteMessage(message.id) })
                     .append('<img src="/static/icons/remove.svg">')
                )
            }

            $('#chat-messages').append(messageElement)
            messageElement[0].scrollIntoView()
        }
    }

    function deleteMessage(messageId) {
        $.post( `/api/delete-message/`, {
            'message_id': messageId,
            'csrfmiddlewaretoken': csrftoken
        }, () => {
            $(`.message#${messageId}`).remove()
        })
    }

    // Send message
    $('#message-form').on('submit', function(event) {
        event.preventDefault() // Prevent the form from submitting the traditional way
        let text = $('#message-input').val()
        if (text.trim()) { // check if message text is not empty
            $.post(location.href, {
                'text': text,
                'csrfmiddlewaretoken': csrftoken
            }, () => {
                $('#message-input').val('') // Clear the message input
            })
        }
    });

    // Typing status
    let typingTimeout
    let typingStatus = false
    $('#message-input').on('input', function(event) {
        const text = $(this).val()
        clearTimeout(typingTimeout)
        if (!typingStatus && text) {
            sendTypingStatus(true)
        }
        typingTimeout = setTimeout(() => {
            if (typingStatus) {
                sendTypingStatus(false)
            }
        }, 10000) // send not typing status after 10 seconds
    })

    function sendTypingStatus(isTyping) {
        typingStatus = isTyping
        $.post('api/set-typing-status/', {
            'csrfmiddlewaretoken': csrftoken,
            'is_typing': isTyping
        })
    }

    function renderTypingUsers(users) {
        if (users.length==1) {
            $('#typing-users').text(`${users[0]} is typing...`)
        } else if (users.length == 2) {
            $('#typing-users').text(`${users[0]} and ${users[1]} are typing...`)
        } else if (users.length > 2) {
            $('#typing-users').text(`${users.join(', ')} are typing...`)
        }
         else {
            $('#typing-users').text(' ')
        }
    }

</script>
{% endblock %}