{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="chat-container">

        <div class="sidebar">
            <div class="profile">
                <img alt="Avatar" class="avatar" src="{{ user.pfp }}">

                <h3>{{ user.username }}</h3>

                <form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
            </div>

            <nav>

                <h2>Friends</h2>
                <ul class="friend-list">
                {% if friends %}
                    {% for friend in friends %}
                    <li class="friend">
                        <span>{{ friend }}</span>
                        <button class="btn-unfriend">Unfriend</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friends">No friends</li>
                {% endif %}
                </ul>

                <h2>Friend Requests</h2>
                <ul class="friend-request-list">
                {% if friend_requests %}
                    {% for i in friend_requests %}
                    <li class="friend-request">
                        <span>{{ i.from_user }}</span>
                        <button class="btn-accept">Accept</button>
                        <button class="btn-reject">Reject</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friend-requests">No friend requests</li>
                {% endif %}
                </ul>

            </nav>

        </div>

        <div class="chat-section">
            <div class="chat-header">
                <h2>Global Chat</h2>
                <p id="typing-users"></p>
            </div>
            <div class="chat-messages" id="chat-messages">
                {% for message in messages %}
                <div class="message {% if message.author == user %}own-message{% endif %}" id="{{ message.id }}">
                    
                    <div class="message-info">
                        <img alt="Avatar" src="{{ message.author.pfp }}">

                        <span class="message-author">{{ message.author }}</span>
                        <span class="timestamp">{{ message.timestamp | date:'Y-m-d H:i' }}Z</span>
    
                        {% if message.author == request.user %}
                        <div class="delete-message" onclick="deleteMessage('{{ message.id }}')">
                            <img src="{% static 'icons/remove.svg' %}?" alt="">
                        </div>
                        {% endif %}
                    </div>

                    <p class="message-text">
                        {{ message.text }}
                    </p>

                </div>
                {% endfor %}
            </div>

            <form class="message-form" id="message-form" method="post">
                {% csrf_token %}
                <input type="text" id="message-input" autocomplete="off" placeholder="Type a message...">
                <button id="send-button">Send</button>
            </form>

        </div>

    </div>

{% endblock %}

{% block scripts %}
<script>
    const username = "{{ user.username }}";
    const csrftoken = $('[name=csrfmiddlewaretoken]').val();

    $(document).on('keydown', function(e) {
        const focused = $('#message-input').is(':focus');
        if (!focused && e.key.length == 1) {
            $('#message-input').focus();
        }
    })

    if ($('.message').length > 0) {
        $('.message').last()[0].scrollIntoView() // scroll to bottom of chat
    }

    $('.message .timestamp').each(function() {
        const timestamp = $(this).text();
        $(this).text( formatDate(timestamp) );
    })
    
    function formatDate(timestamp) {
        const date = new Date(timestamp);
        const now = new Date();
        const options = { hour: '2-digit', minute: '2-digit' };
        
        const isToday = date.toDateString() === now.toDateString();

        const yesterday = new Date(now);
        yesterday.setDate(now.getDate() - 1);
        const isYesterday = date.toDateString() === yesterday.toDateString();

        const startOfWeek = new Date(now);
        startOfWeek.setDate(now.getDate() - now.getDay());
        const isThisWeek = date >= startOfWeek;

        if (isToday) {
            return date.toLocaleString([], options);
        } else if (isYesterday) {
            return 'Yesterday, ' + date.toLocaleString([], options);
        } else if (isThisWeek) {
            return date.toLocaleString('en-US', {
                weekday: 'long',
                hour: '2-digit',
                minute: '2-digit'
            });
        } else {
            return date.toLocaleDateString([], {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) + ' ' + date.toLocaleString([], options);
        }
    }

</script>
<script src="{% static 'js/chat-events.js' %}"></script>
<script src="{% static 'js/friends.js' %}"></script>
{% endblock %}