{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="chat-container">

        <div class="sidebar">
            <div class="profile">
                <img alt="Avatar" class="avatar"
                {% if user.profile_pic %}
                    src="{{ user.profile_pic.url }}"
                {% else %}
                    src="{% static 'icons/avatar.webp' %}"
                {% endif %} >

                <h3>{{ user.username }}</h3>
            </div>

            <nav>

                <h2>Friends</h2>
                <ul class="friend-list">
                {% if friends %}
                    {% for friend in friends %}
                    <li class="friend">
                        <span>{{ friend }}</span>
                        <button class="btn-unfriend">Unfriend</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friends">No friends</li>
                {% endif %}
                </ul>

                <h2>Friend Requests</h2>
                <ul class="friend-request-list">
                {% if friend_requests %}
                    {% for i in friend_requests %}
                    <li class="friend-request">
                        <span>{{ i.from_user }}</span>
                        <button class="btn-accept">Accept</button>
                        <button class="btn-reject">Reject</button>
                    </li>
                    {% endfor %}
                {% else %}
                    <li class="no-friends" id="no-friend-requests">No friend requests</li>
                {% endif %}
                </ul>

            </nav>

        </div>

        <div class="chat-section">
            <div class="chat-header">
                <h2>Global Chat</h2>
                <p id="typing-users"></p>
            </div>
            <div class="chat-messages" id="chat-messages">
                {% for message in messages %}
                <div class="message" id="{{ message.id }}">
                    <p class="message-text">{{ message }}</p>
                    <!-- <img style="max-height: 30px;" src="{% static 'icons/remove.svg' %}?" alt=""> -->
                </div>
                {% endfor %}
            </div>

            <form class="message-form" id="message-form">
                {% csrf_token %}
                <input type="text" id="message-input" autocomplete="off" placeholder="Type a message...">
                <button id="send-button">Send</button>
            </form>

        </div>

    </div>

{% endblock %}

{% block scripts %}
<script>

    $('.friend-request button').on('click', function(e) {
        let fromUser = $(this).parent().find('span').text()
        let action = $(this).text().toLowerCase()
        $.post( `/api/${action}-friend-request/`, {
            'from_user': fromUser,
            'csrfmiddlewaretoken': csrftoken
        }, () => {
            $(this).parent().remove()
            if (action == 'accept') { 
                let friendElement = $(`<li class="friend">`)
                .append(`<span>${fromUser}</span>`)
                .append(`<button class="btn-unfriend">Unfriend</button>`)
                 .on('click', unfriend)
                $('.friend-list').append(friendElement)
                $('#no-friends').hide()
            }
        })
    })

    $('.btn-unfriend').on('click', unfriend); function unfriend(e) {
        let friend = $(this).parent().find('span').text()
        $.post( `/api/unfriend/`, {
            'friend': friend,
            'csrfmiddlewaretoken': csrftoken
        }, () => {
            $(this).parent().remove()
        })
    }

    let eventSource = new EventSource("api/stream-chat-events/")

    eventSource.onopen = function() {
        console.log("Connection established")
    }

    eventSource.onmessage = function(e) {
        let data = JSON.parse(e.data)
        console.log(data)
        if (data.action == 'create') {
            let message = data.message
            message.timestamp = new Date(message.timestamp + 'Z') // add 'Z' to make it UTC
            renderMessage(message)
        } else if (data.action == 'delete') {
            $(`.message#${data.message_id}`).remove()
        } else if (data.action == 'typing') {
            renderTypingUsers(data.users)
        }
    }

    function renderMessage(message){
        if (!$(`.message#${message.id}`).length) { // check if message already exists
            let messageElement = $('<div class="message">')
            .prop('id', message.id)
            .append($('<p class="message-text">')
            .text(`${message.author}: ${message.text}`))
            $('#chat-messages').append(messageElement)
        }
    }

    function renderTypingUsers(users) {
        if (users.length==1) {
            $('#typing-users').text(`${users[0]} is typing...`)
        } else if (users.length == 2) {
            $('#typing-users').text(`${users[0]} and ${users[1]} are typing...`)
        } else if (users.length > 2) {
            $('#typing-users').text(`${users.join(', ')} are typing...`)
        }
         else {
            $('#typing-users').text(' ')
        }
    }

    $('#message-form').on('submit', function(event) {
        event.preventDefault() // Prevent the form from submitting the traditional way
        let text = $('#message-input').val()
        if (text.trim()) { // check if message text is not empty
            $.post(location.href, {
                'text': text,
                'csrfmiddlewaretoken': csrftoken
            }, () => {
                $('#message-input').val('') // Clear the message input
            })
        }
    });

    let typingTimeout
    let typingStatus = false
    $('#message-input').on('input', function(event) {
        let text = $(this).val()
        clearTimeout(typingTimeout)
        if (!typingStatus){
            sendTypingStatus(true)
        }
        typingTimeout = setTimeout(() => {
        sendTypingStatus(true)
        var typingTimeout = setTimeout(() => {
            sendTypingStatus(false)
        }, 3000) // send not typing status after 3 seconds
    })
    })

    sendTypingStatus(false)
    function sendTypingStatus(isTyping) {
        typingStatus = isTyping
        $.post('api/set-typing-status/', {
            'csrfmiddlewaretoken': csrftoken,
            'is_typing': isTyping
        })
    }

</script>
{% endblock %}